body {
  background-color: #e0e0e0;
}
.search-bar {
  margin: 20px 0;
}
.card {
  border-radius: 15px;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-body {
  padding: 1.25rem;
}
.card-title,
.card-text,
.card-footer {
  margin-bottom: 0;
}
.card-footer {
  background-color: white;
  border-top: 0;
}
